
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Global Power Plant Distribution</h1>
        <p>Questions: Where on earth are the power plants most densely distributed? Which area has the largest electrical power production capacity?</p>
        <p>Power plant distribution (left) and heat map of eletrical power production capacity (right) are generated based on Global Power Plant Database provided by World Resources Institute.</p>
      </div>

<div style="float:left;">
    <div align="center">
        <iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col5+from+1c7SWWsHnqZP2qPVol_3FEj7eA9PkpWKQ5GQSmdRt&amp;viz=MAP&amp;h=false&amp;lat=23.891534242756&amp;lng=163.70265964507382&amp;t=1&amp;z=3&amp;l=col5&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
        <p>Power Plant distribution (Small Green:0-20mw, Small Blue:20-500mw,</p>
        <p>Small Yellow: 500-2000mw, Large Red: 2000-22500mw)</p>
    </div>
</div>


<div style="float:right;">
    <div align = "center">
        <iframe width="500" height="300" scrolling="no" frameborder="no" 
            src="https://fusiontables.google.com/embedviz?q=select+col5%2C+col6%2C+col4+from+1c7SWWsHnqZP2qPVol_3FEj7eA9PkpWKQ5GQSmdRt+where+col4+%3E%3D+1300+and+col4+%3C%3D+22500+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=35.96837468245061&amp;lng=118.73077762555533&amp;t=1&amp;z=4&amp;l=col5&amp;y=3&amp;tmplt=4&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=0.78&amp;hmr=33&amp;hmw=4&amp;hml=TWO_COL_LAT_LNG"></iframe>
        <p>Electrical Power Production Capacity Heatmap</p>    
    </div>
</div>




      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
